<div class="container">
    <div class="text-center mt-4">
        <h2>Jornadas</h2>
    </div>

    <div *ngIf="!errorAPI">
      <div class="d-grid">
        <a class="btn btn-success btn-sm ms-auto" routerLink="/jornadas/form">Nuevo</a>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Número</th>
            <th scope="col">Fecha</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jornada of jornadas">
            <th scope="row">{{ jornada.id }}</th>
            <td>{{ jornada.jornada }} </td>
            <td>{{ jornada.fecha | date: 'dd/MM/yyyy' }} </td>
            <td>
              <button class="btn btn-primary btn-sm" routerLink="/jornadas/form/{{ jornada.id}}">Modificar</button>
              <button class="btn btn-danger btn-sm ms-3" (click)="borrar(jornada.id!)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="errorAPI" class="text-danger">
      {{ errorMensaje }}
    </div>
</div>

