<div class="container">
    <div class="text-center mt-4">
        <h2>Equipos</h2>
    </div>

    <form [formGroup]="formulario" (ngSubmit)="enviar()">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input 
            formControlName="nombre"
            type="text" 
            class="form-control" 
            id="nombre">
        </div>
        <div *ngIf="formdata['nombre'].touched && formdata['nombre'].invalid" class="alert alert-danger">
            <div *ngIf="formdata['nombre'].errors && formdata['nombre'].errors['required']">
                Nombre requerido
            </div>
        </div>
        <button class="btn btn-primary btn-sm" [disabled]="!formulario.valid">Guardar</button>
        <button class="btn btn-secondary btn-sm ms-3" type="button" routerLink="/equipos/list">Volver</button>
    </form>    
    <div *ngIf="errorAPI" class="text-danger mt-3">
        {{ errorMensaje }}
    </div>
</div>